
@font-face {
    font-family: Poppins-Bold;
    src: url('../fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../fonts/poppins/Poppins-Medium.ttf'); 
  }
  .singlefile{
    background-color:white;
    padding: 10%;
    box-shadow: 5px 5px 10px rgba(170, 167, 167 ,0.05);
  }
  .files{
    margin:5%;
    border-radius:25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 5%;
  }
  